*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-image: url(William.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    
}
.headernav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}
.headernav ul{
    list-style: none;
    text-align: right;
    width: 100%;
    padding-right: 60px;
}
.headernav ul li{
    display: inline-flex;
    margin: 10px;
    padding: 30px;

}
.headernav ul li a{
    text-decoration: none;
    color: white;
    font-style: bold;
    font-weight: 600;
    border-radius: 2px;
    padding: 10px;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.headernav ul li a:hover{
    color: black;
}
.section h1{
    color: white;
    text-align: center;
    font-size: 70px;
    text-decoration: none;
    margin-top: 100px;
    text-align: left;
    text-decoration-line: none;

    z-index: 10;
    position: relative;

}
span{
    color: gold;
    font-size: 100px;

}
.aboutme{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: "h2 p1" "h2 p2";
    font-family: poppins;
    background-color: grey;
    width: 100%;

                        

    
}
h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    color: white;
    font-size: 60px;
    font-style: oblique;
    grid-area: h2;

}
p1{
    color: white;
    padding: 20px;
    font-size:20px;
    text-align: center;
    grid-area: p1;
    font-family: poppins;
}
p2{
    color: white;
    padding: 20px;
    font-size:20px;
    text-align: center;
    grid-area: p2;
    font-family: poppins;
}
.Educationbackground{
    font-family: poppins;
    background-color: grey;
    width: 100%;
    display: flex;
    gap: 10px;

}

p3{
    color: grey;
    padding-bottom: 20px;
    font-size:20px;
    text-align: right;
    grid-area: p3;
    font-family: poppins;

}
h3{ text-align: center;
    grid-area: h3;
    padding: 15px;
}
.School{
    width: 70px;
    height: 70px;
    padding-left: 70px;
}

.StanU{
    padding: 2px 16px;

}
stanford{
    width: 100%;
}

.ZinduaS{
    padding: 2px 16px;
}
zinduas{
    width: 100%;
}

.Lenanacon{
    padding-left: 2px 16px; 

}
#Portfolio{
    background-color: gray;
    color: white;

}
h2{
    text-align: center;
    background-color: grey;
    font-family: Poppins;
    
}
.logo{
    padding-bottom: 10px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
h4{
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Skills{ 
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: ".skills .skills" ".Hobbies .Hobbies";

}

.skills{
    text-align: center;
    list-style: none;
    font-family: Poppins;
}
.Hobbies{
    text-align: center;
    list-style: none;
    font-family: Poppins;
}
ul li{
    list-style: none ;
}   
.mycontacts{
    text-align: center;
    font-family: Poppins;
    text-decoration: none;
}
.mycontacts ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Poppins;
}
.mycontacts ul li a:hover{
    color: black;
    
}
.footernav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
.footernav ul{
    list-style: none;
}
.footernav ul li{
    display: inline-flex;
    margin: 10px;
    padding: 30px;


}
.footernav ul li a{
    text-decoration: none;
    color: white;
}
.footernav ul li a:hover{
  background-color: white;
  color: black;
  padding: 2px;
}
.card{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}





